*{margin:0;padding:0;}
li{list-style-type:none;}
html,body{ width:100%;height:100%;}
#swiper1{ width:100%; height:100%;}
#swiper1 li{ width:100%; height:100%!important;}
.page1{background-image:url("../images/1@3x.jpg"); background-repeat:no-repeat;background-size:cover;}
.page1 .moring_img{ width:100%; height:100%;}
h1.logo img{ width:100%;}
.page2{background-image:-webkit-linear-gradient(to top, #ffd2dc, #fcdcd5);background-image:linear-gradient(to top, #ffd2dc, #fcdcd5);}
.page2 .logo{ width:110px; height:40px; margin:14px;}
.page2 .make_speech{ width:80%;margin:20% auto}
.page2 .make_speech p{color:#b02685;line-height:32px;text-align:center}
.page2 .rili{ margin:0 auto}
.rili img{ width:100%;}
.page3{background-image:-webkit-linear-gradient(to top, #ffd2dc, #fcdcd5);background-image:linear-gradient(to top, #ffd2dc, #fcdcd5);}
.page3 .logo{ width:110px; height:40px; margin:14px;}
.page3 .make_speech{ width:80%;margin:20% auto}
.page3 .make_speech p{color:#b02685;line-height:32px;text-align:center}
.page3 .rili{margin:0 auto}
.page4{background-image:-webkit-linear-gradient(to top, #ffd2dc, #fcdcd5);background-image:linear-gradient(to top, #ffd2dc, #fcdcd5);}
.page4 .logo{ width:110px; height:40px; margin:14px;}
.page4 .make_speech{ width:80%;margin:20% auto}
.page4 .make_speech p{color:#b02685;line-height:32px;text-align:center}
.page4 .rili{ margin:0 auto}
.page8 .say_babe{ width:225px; height:45px;border-radius:30px;margin:15px auto;text-align:center;line-height:45px;color:#fff;letter-spacing:5px;
	background-image:-webkit-linear-gradient(to right, #fda28c, #fd989c);background-image:linear-gradient(to right, #fda28c, #fd989c);
}

.page7 {background-image:-webkit-linear-gradient(to top, #ffd2dc, #fcdcd5);background-image:linear-gradient(to top, #ffd2dc, #fcdcd5);}
.page7 .logo{ width:110px; height:40px; margin:14px;}
.page7 .make_speech{ width:80%;margin:20% auto}
.page7 .make_speech p{color:#b02685;line-height:32px;text-align:center}
.page7 .rili{ margin:0 auto}

.page8 {background-image:-webkit-linear-gradient(to top, #ffd2dc, #fcdcd5);background-image:linear-gradient(to top, #ffd2dc, #fcdcd5);}
.page8 .logo{ width:110px; height:40px; margin:14px;}
.page8 .make_speech{ width:80%;margin:20% auto}
.page8 .make_speech p{color:#b02685;line-height:32px;text-align:center}
.page8 .rili{ margin:0 auto}

.page5{background-image:-webkit-linear-gradient(to top, #ffd2dc, #fcdcd5);background-image:linear-gradient(to top, #ffd2dc, #fcdcd5);
	position:relative;}
.page5 .logo{width:110px; height:40px;margin:15px auto}
.page5 .head_portrait{width:119px; height:119px;border-radius:120px;border:2px solid #fff;background:#ccc;margin:0 auto}
.page5 .uploading{width:225px; height:45px;border-radius:30px;margin:10px auto;text-align:center;line-height:45px;color:#fff;letter-spacing:5px;
	background-image:-webkit-linear-gradient(to right, #fda28c, #fd989c);background-image:linear-gradient(to right, #fda28c, #fd989c);
	position: relative;overflow:hidden;
}


#headimg{overflow:hidden}
#headimg img{ width:120px; height:120px;}
.btn{

}
.btn img{

}


/*截图上传页面*/
.clipbg{
	position: absolute;
	background: black;
	top: 0;
	z-index: 99999999;
	width: 100%;
	height: 100%;
	left: 0;
}
.loading{
	position: absolute;
	top: 40%;
	width: 38%;
	left: 31%;
	height: 1.6rem;
	line-height: 1.6rem;
	z-index: 99999;
	text-align: center;
	color: #ffffff;
	border-radius:0.2rem ;
	background: #9f9f9f;
}
.clipbg #clipArea{
	width: 100%;
	height: 80%;
	margin: auto;
	
}
.clipbg .footer{
	width: 90%;
	position: absolute;
	left: 5%;
	bottom: 0px;
	text-align: center;
}
.clipbg dl{
	background: #ffffff;
	border-radius: 0.4rem;
	overflow: hidden;
	margin-bottom: 0.6rem;
}
.clipbg dd{
	position: relative;
	height: 2.25rem;
	line-height: 2.25rem;
	border-bottom:1px solid #999999 ;
}
.clipbg .back{
	height: 2.25rem;
	line-height:2.25rem;
	border-radius: 0.4rem;
	margin-bottom: 0.4rem;
	background: #ffffff;
}
.clipbg dd input{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 11;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
}
.displaynone{
	display: none;
}

.page5 .write_text{text-align:center; width:90%;margin:0 auto}
.page5 .write_text img{ width:100%;}
.page5 .text{color:#d06da9;text-align:center;margin:15px 0}
.page5 .textarea_input{ width:100%; height:80px;margin:0 auto;display: inherit;border:0;font-size:14px;line-height:24px;}
.page5 .kuang{width:80%; height:80px;margin:0 auto;position:relative;}
#input-text-box{position:absolute;}
.page5 .write_text p{margin-bottom:-10px;background:#ffd2dc}
.box_smak{ width:100%; height:100vh;background-color:#000;opacity:.8;position:fixed;z-index:999999;top:0;display:none;}
.box_smak .box_input_one{ width:80%; height:80px;margin:100px auto 10px;display: inherit;border:0;font-size:14px;line-height:24px;}
.box_smak .box_input_two{ width:80%; height:56px;margin:100px auto 10px;display: inherit;border:0;font-size:14px;line-height:24px;}
.box_smak_text_one{width:80%;color:#fff;margin:0 auto;font-size:14px;}
.box_smak_text_two{width:80%;color:#fff;margin:0 auto;font-size:14px;}
.box_smak.three ul{position:relative;left:50%;top:50%;width: 100%;transform:translate(-50%,-50%);}
.box_smak.three ul .create_txt{color:#fff; width:100%;text-align:center;line-height:50px;}
.box_smak.three ul .create_img{width: 20%;margin:0 auto;}
.box_smak.three ul img{ width:100%;}

.body .share{overflow:hidden}
.page6{background-image:-webkit-linear-gradient(to top, #ffd2dc, #fcdcd5);background-image:linear-gradient(to top, #ffd2dc, #fcdcd5); height:100%;
	position:relative;
}
.page6 .babe-thinks{ width:80%; box-shadow: 0 6px 22px 7px #F18C9D;position:relative;top:15px;margin:0 auto}
.page6 .babe-thinks img{ width:100%;vertical-align: middle;}
.page6 .submit_in{ width:90%;margin:40px auto}
.page6 .submit_in .sub{width:150px; height:45px;line-height:45px;text-align:center;
	margin:0 auto;
}
.page6 .submit_in .sub_left{margin-top:10px;background:#fff;border-radius:30px;color:#c666a4;}
.page6 .submit_in .sub_right{color:#868686;}

.arrow {display: block;width: 25px;height: 25px; position: absolute; bottom: 50px; left: 50%; margin-left: -12.5px; z-index: 99; opacity: .8;
-webkit-animation: arrow 1.5s infinite ease-in-out; }
.arrow img{ width:100%;}
@-webkit-keyframes arrow {
	0% {
		opacity:0;
		-webkit-transform:translate(0, 0px)
	}
	50% {
		opacity:1;
		-webkit-transform:translate(0, -5px)
	}
	100% {
		opacity:0;
		-webkit-transform:translate(0, -10px)
	}
}
#loader_container {
	width: 100%;
	height: 100vh;
	background: #000;
	position: relative;
}

#loader_block {
	
	width: 135px;
	height: 135px;
	position: absolute;
	border-radius: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)
}

#loader_bar {
	width: 100px;
	height: 100px;
}

#lanren #audio-btn{width: 44px;height: 44px;background-size: 100% 100%;position:fixed;top:20px;right:20px;}
#lanren .on{background: url('../images/music_on.png') no-repeat 0 0;-webkit-animation: rotating 1.2s linear infinite;animation: rotating 1.2s linear infinite;}
#lanren .off{background: url('../images/music_off.png') no-repeat 0 0;}

@-webkit-keyframes rotating {
	from{
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to{
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes rotating {
	from{
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to{
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3){
	/*.page1 {background-image:url('../images/1@3x.jpg');background-size:cover;background-repeat:no-repeat;}*/
	
}


@media screen and (max-width: 415px) {
	.page2 .logo{ width:116px;}
	.page3 .logo{ width:116px;}
	.page4 .logo{ width:116px;}
	.page5 .logo{ width:116px;}
	.page7 .logo{ width:116px;}
	.page2 .rili{ width:166px;}
	.page3 .rili{width:134px;}
	.page4 .rili{width:132px;}
	.page7 .rili{width:132px;}
	.page8 .rili{width:132px;}
	
	.page6 .babe-thinks{width: 60%; }
	.page6 .submit_in{width: 85%;}
}

@media screen and (max-width: 376px) {
	.page2 .logo{ width:110px;}
	.page3 .logo{ width:110px;}
	.page4 .logo{ width:110px;}
	.page5 .logo{ width:110px;}
	.page7 .logo{ width:110px;}
	.page8 .logo{ width:110px;}
	.page2 .rili{ width:150px;}
	.page3 .rili{width:123px;}
	.page4 .rili{width:120px;}
	.page7 .rili{width:120px;}
	.page8 .rili{width:120px;}
	
	.page2 .make_speech{margin: 10% auto;}
	.page3 .make_speech{margin: 10% auto;}
	.page7 .make_speech{margin: 10% auto;}
	
	.page5 .logo{ height:10px;margin:0;}
	.page5 .logo img{display:none}
	
}

@media screen and (max-width: 321px) {
	.page2 .logo{ width:90px;}
	.page3 .logo{ width:90px;}
	.page4 .logo{ width:90px;}
	.page5 .logo{ width:90px;}
	.page7 .logo{ width:90px;}
	.page8 .logo{ width:90px;}
	
	
	
	.page2 .rili{ width:129px;}
	.page3 .rili{width:106px;}
	.page4 .rili{width:103px;}
	.page4 .make_speech{margin: 10% auto;}
	.page6 .submit_in{width: 80%;}
	.page6 .submit_in .sub{width: 100%; height: 40px;line-height:40px;}
}